<form action="/channel/add" method="POST">
    <div class="form-group row">
        Name:
        <input type="text" name="name" id="name">

    </div>
    <br />
    Timeout:
    <input type="number" name="timeout" id="timeout">
    <br />
    Input_http:
    <input type="text" name="input_http" id="input_http">
    <br />
    Input_udp:
    <input type="text" name="input_udp" id="input_udp">
    <br />
    Input_file:
    <input type="text" name="input_file" id="input_file">
    <br />
    Input_pnr:
    <input type="number" name="input_pnr" id="input_pnr">
    <br />
    Input_filter:
    <input type="number" name="input_filter" id="input_filter">
    <br />
    Output_http:
    <input type="text" name="output_http" id="output_http">
    <br />
    Output_udp:
    <input type="text" name="output_udp" id="output_udp">
    <br />
    Map_pmt:
    <input type="number" name="map_pmt" id="map_pmt">
    <br />
    Map_video:
    <input type="number" name="map_video" id="map_video">
    <br />
    Map_audio:
    <input type="number" name="map_audio" id="map_audio">
    <br />
    Enable:
    <input type="checkbox" name="enable" id="enable" checked>
    <br />
    <input type="submit" value="Submit" />
</form>