<h1 class="jumbotron"> Channels: </h1>
<ul class="nav">
{{#each channels}}
    <li class="nav-item">
        <i class="nc-icon nc-notes"></i>
        <a class="list-group-item nav-link" href="/channel/{{name}}">{{name}}</a>
    </li>

{{/each}}
</ul>
